---
---

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 5rem auto;
}

h1, h2, h3 {
    font-family: Roboto Mono, monospace;
    letter-spacing: -.75px;
    color: #1e171b;
}

h1 {
    font-size: 3rem;
    line-height: 110%;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

h2:after {
    content: "";
    display: block;
    width: 100%;
    height: 7.5px; 
    background: linear-gradient(45deg, #610008, #b80003);
}

h3 {
    font-size: 1.15rem;
}

p, li {
    font-family: Lato, sans-serif;
    line-height: 170%;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #392d34;
    font-weight: 300;
}

header {
    margin-bottom: 5rem;
}

footer {
    margin-top: 5rem;
}

header, footer {
    text-align: center;
}

.image-container {
    max-width: 100%;
}

.image-container.left {
    float: left;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

.image-container.right {
    float: right;
    max-width: 350px;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
}

img {
    display: block;
}

.caption {
    display: block;
    margin-top: 0.5rem;
    line-height: 125%;
    font-family: Lato, sans-serif;
    font-size: 1.15rem;
    color: #392d34;
}