<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i|Roboto+Mono:700" rel="stylesheet">
    </head>

    <body>
        <script src="https://unpkg.com/scrollreveal"></script>

        <div class="container">
            {{ content }}
        </div>

        <script>
        ScrollReveal().reveal('*');
        </script>
    </body>
</html>